*{box-sizing: border-box; margin: 0; padding: 0;}
*::before, *::after{box-sizing: border-box;}

body{
    background: #ffe600;
    height: 100vh;
}
.skin{
    position: relative;
}

.semi-circle{
    position: absolute;
    width: 20px;
    height: 6px;
    top: -16px;
    left: -10px;
    border-radius: 10px 10px 0 0 ;
    background-color: black;
}

.nose{
    border: 10px solid black;
    border-color: black transparent transparent;
    border-bottom: none;
    width: 0px;
    height: 0px;
    position: relative;
    left: 50%;
    top: 145px;
    margin-left: -10px;
    z-index: 10;
}

@keyframes wave{
    0%{
        transform: rotate(0deg);
    }
    33%{
        transform: rotate(5deg);
    }
    66%{
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.nose:hover{
    transform-origin: center bottom;
    animation: wave 300ms infinite linear;
}

.eye{
    border: 2px solid #000;
    width: 64px;
    height: 64px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -32px;
    background-color: #2e2e2e;
    border-radius: 50%;
}

.eye::before{
    content: '';
    display: block;
    border: 3px solid #000;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 4px;
    top: 2px;
}

.eye.left{
    transform: translateX(-100px);
}
.eye.right{
    transform: translateX(100px);
}

.mouth{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 170px;
    margin-left: -100px;
}

.mouth .up{
    position: relative;
    top: -20px;
    z-index: 1;
}

.mouth .up .lip{
    border: 3px solid black;
    height: 30px;
    width: 100px;
    background: #ffe600;
    border-top-color: transparent;
    border-right-color: transparent;
    position: relative;
    position: absolute;
    left: 50%;
    margin-left: -50px;
}

.mouth .up .lip.left{
    /* border-top: 0; */
    border-radius: 0 0 0 50px;
    transform: rotate(-15deg) translateX(-53px);
}
.mouth .up .lip::before{
    content: '';
    display: block;
    height: 30px;
    width: 7px;
    position: absolute;
    bottom: 0;
    background: #ffe600;
}

.mouth .up .lip.right{
    border-radius: 0 0 50px 0;
    transform: rotate(15deg) translateX(53px);
}

.mouth .up .lip.left::before{
    right: -6px;
}

.mouth .up .lip.right::before{
    left: -6px;
}

.mouth .down{
    height: 180px;
    position: absolute;
    top: 6px;
    width: 100%;
    overflow: hidden;
}

.mouth .down .circle1{
    border: 3px solid black;
    width: 150px;
    height: 1000px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -75px;
    border-radius: 75px/300px;
    background: #9b000a;
    overflow: hidden;
}

.mouth .down .circle1 .circle2{
    width: 200px;
    height: 300px;
    background: #ff485f;
    position: absolute;
    bottom: -155px;
    left: 50%;
    margin-left: -100px;
    border-radius: 400px/600px;
}

.face{
    position: absolute;
    left: 50%;
    border: 3px solid black;
    width: 88px;
    height: 88px;
    top: 200px;
    background: #ff0000;
    margin-left: -44px;
    border-radius: 50%;
    z-index: 3;
}

.face.left{
    transform: translateX(-180px);
}

.face.right{
    transform: translateX(180px);
}